.frameControls {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(10, 10, 10, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: self-end;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  border-radius: 0.5rem;
  border: 1px solid #3b82f6;
  color: white;
  text-transform: uppercase;
}

.button:disabled {
  cursor: not-allowed;
  filter: brightness(60%);
}

.rangeWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.rangeInput {
  width: 20rem;
}

.rangeLabel {
}
